/** Slider 1 Stars Here **/

html {
overflow: hidden;
}

.dstv_logo {

    z-index: 1000;
    position: relative;
    z-index: 1000;
    position: absolute;
    right: 0px;
    width: 5%;
    margin: 2%;
    border-radius: 10%;
    border: #00a1ff solid 0px;
}

body {
    margin:0;
    padding:0;
    border:none;
    -webkit-user-select:none;
    font-family: 'Helvetica';
}

@font-face {
    font-family: 'Helvetica';
    src: url('src/fonts/Helvetica.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-light';
    src: url('src/fonts/Helvetica-light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
.slide1 {
  background: linear-gradient(to right, rgb(0, 0, 0) 25%, transparent), url(src/assets/bk/got1.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover !important;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

} 
.slide2 {
  background: linear-gradient(to right, rgb(0, 0, 0) 25%, transparent), url(src/assets/bk/got2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover !important;
  animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
}
.slide3 {
    background: linear-gradient(to right, transparent 25%, rgb(0, 0, 0)), url(src/assets/bk/got3.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: -900px top;
    background-size: cover !important;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
  /**  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);**/

}
/** Slider 1 Ends Here **/



          .slider {
          position: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          max-width: 100%;
          height: 100%;
          width: 100%;
          background: #000;
          -webkit-filter: brightness(150%);
          filter: brightness(150%);
      }
    
      .slide1,.slide2,.slide3,.slide4,.slide5 {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      @keyframes fade
      {
        0%   {opacity:1}
        33.333% { opacity: 0}
        66.666% { opacity: 0}
        100% { opacity: 1}
      }
      @keyframes fade2
      {
        0%   {opacity:0}
        33.333% { opacity: 1}
        66.666% { opacity: 0 }
        100% { opacity: 0}
      }
      @keyframes fade3
      {
        0%   {opacity:0}
        33.333% { opacity: 0}
        66.666% { opacity: 1}
        100% { opacity: 0}
      }

      .movie_info {
          position: absolute;
          color: #fff;
          padding: 60px 60px 60px 150px;
      }

      h1.title {
        font-size: 60px;
            padding: 0px;
          margin-top: 40px;

      }

.year {
font-size: 22px;
    width: 70px;
    line-height: 30px;
    font-family: helvetica;
    color: #767676;
    padding: 0px;
    margin-top: -31px;
    float: left;
    font-weight: bold;
}

p.runningtime {
    font-size: 22px;
    /* width: 130px; */
    line-height: 30px;
    font-family: helvetica;
    color: #767676;
    padding: 0px;
    margin-top: -31px;
    /* background: aqua; */
    float: left;
    font-weight: bold;
    margin-right: 7px;
}

p.rating {
  font-size: 18px;
    line-height: 30px;
    font-family: helvetica;
    color: #007bff;
    padding: 0px;
    margin-top: -31px;
    float: left;
    /* background: rgba(0, 126, 218, 0.49); */
    font-weight: 700;
    /* background: rgba(0, 126, 218, 0.49); */
    padding: 0px 12px;
    border: #767676 solid 1px;
    font-weight: bold;
    font-family: helvetica;
}
.synopsis {
    font-size: 20px;
    line-height: 30px;
    font-family: helvetica-light;
    color: #dadada;
    padding-top: 25px;
    width: 40%;
}

.animateClass {
  animation: my_animation 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

i.fa.fa-circle.fa-lg {
    font-size: 7px;
}



@keyframes my_animation {
  10%, 90% {
   transform: rotate(0deg) translateY(-1px) skew(0deg, 0deg) rotateY(0deg);
  }
  
  20%, 80% {
   transform: rotate(0deg) translateY(2px) skew(0deg, 0deg) rotateY(0deg);
  }

  30%, 50%, 70% {

   transform: rotate(0deg) translateY(-4px) skew(0deg, 0deg) rotateY(0deg);
  
  }

  40%, 60% {
   transform: rotate(0deg) translateY(4px) skew(0deg, 0deg) rotateY(0deg);

  }
}




.my_endofScroll {
  animation: my_endofScroll 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}


@keyframes my_endofScroll {
  10%, 90% {
   transform: rotate(0deg) translateX(-1px) scale(1.17) skew(0deg, 0deg) rotateY(0deg);
  }
  
  20%, 80% {
   transform: rotate(0deg) translateX(2px) scale(1.17) skew(0deg, 0deg) rotateY(0deg);
  }

  30%, 50%, 70% {

   transform: rotate(0deg) translateX(-4px) scale(1.17) skew(0deg, 0deg) rotateY(0deg);
  
  }

  40%, 60% {
   transform: rotate(0deg) translateX(4px) scale(1.17) skew(0deg, 0deg) rotateY(0deg);

  }
}