<template>
	<div class="thumbnail_wrapper">
	<img :src="block.thumbnail">
</div>

</template>

<script>
  var KeyCount = 0;
  var StartScrolling = 0;
  var countLeft = 0;
  var down = 0;
  var elems = document.getElementsByClassName('thumbnail_wrapper');
  var removeActive = function() {$(".thumbnail_wrapper").removeClass("active");}


  var block = {
  	name : 'show',
  	props: ['block'],
    components: {
    },
    created: function () {
    	 //Initial 
    	 var yposition = 50;
       //add active Class to the thumbnail
    	 $('.all_popular_movies_grid .thumbnail_wrapper').eq(0).addClass('active');
    	 $('.universal_wrapper').eq(0).addClass('activeUinversal');
    	 //Position the universal Wrapper 2
    	 $(".single_file").css("display", "none");
       $(".single_file").eq(0).css({display: "block"});
       $(".all_popular_movies").eq(0).addClass('showBK');
    	
	},
	methods: {
			checkKey: function(e) {
			    var event = e || window.event;
			    var currentCode = e.keyCode || e.which;
			    switch (currentCode) {
			        case 37:
			            block.methods.goLEFT(event);
			            break;
			        case 38:
			            block.methods.goUP(event);
			            break;
			        case 39:
			            block.methods.goRIGHT(event);
			            break;
			        case 40:
			            block.methods.goDOWN(event);
			            break;
			        default:
			            return;
			    }
			    e.preventDefault();
			},
			goRIGHT : function(e) {
        $(".universal_wrapper.activeUinversal .thumbnail_wrapper").removeClass("my_endofScroll");
       
      
				KeyCount++
        removeActive();

			for ( var i = 0; i < elems.length; i++ ){
  					if ( KeyCount === i ){
                           $(".universal_wrapper.activeUinversal .thumbnail_wrapper").eq(i).addClass("active");
                           $(".single_file").css({display: "none"});
                           $(".all_popular_movies.showBK").find(".single_file").eq(i).css({display: "block"}); 				    
                            StartScrolling = 3;
                            console.log("Start Scrolling set at", StartScrolling);
                                    	       
    					if ( KeyCount > 3 ){
                         StartScrolling++ 
                         if (!countLeft <= 0) {
                         	countLeft--
                         }
                         
                         console.log("countLeft on right button", countLeft);
                         console.log("StartScrolling Right in", StartScrolling);
                         console.log("Stay still1");

                         if (countLeft <= 0 ) {
                         	countLeft = 1;
                         	console.log("Stay still2");

                          var nspacing = parseInt($(".thumbnail_wrapper").css("margin-right").replace(/[^-\d\.]/g, ''),10);

                          var thumbnail = parseInt($(".thumbnail_wrapper").outerWidth(),10);

                          var newWidth = (((thumbnail + nspacing)/ document.documentElement.clientWidth) *100); // convert px to vw
                          var n = parseInt($(".universal_wrapper.activeUinversal .all_popular_movies_grid").css("margin-left").replace(/[^-\d\.]/g, ''), 10);//Get value and strip 'px'


                          var x =- n;//convert negative to postive
                          var nwidth = ((x / document.documentElement.clientWidth) *100);
                          var finalvalue = ((nwidth + newWidth) * -1); // convert positive to negative

                         	$(".universal_wrapper.activeUinversal .all_popular_movies_grid").css({ marginLeft: (finalvalue) + 'vw' });
                         }
                         if (KeyCount >= 9) { 
                                         
                          var nspacing = parseInt($(".thumbnail_wrapper").css("margin-right").replace(/[^-\d\.]/g, ''),10);
                          var thumbnail = parseInt($(".thumbnail_wrapper").outerWidth(),10);
                          var value = thumbnail + nspacing;

                          var stop = ((value * 6) * -1)
                          	 $(".universal_wrapper.activeUinversal .all_popular_movies_grid").css({ marginLeft: stop}); 
                          	 $(".all_popular_movies.showBK").find(".single_file").eq(9).css({display: "block"});
                          	 $(".universal_wrapper.activeUinversal .thumbnail_wrapper").eq(9).addClass("active");
                             if (KeyCount > 9)  {
                               KeyCount = 9;  
                               $(".universal_wrapper.activeUinversal .thumbnail_wrapper").eq(9).removeClass("active").addClass("active");
                             }
                         }                     
    					  }
  					}
			};

	 		},
			goDOWN : function(e) {
        $('.all_popular_movies_grid').eq(3).removeClass('animateClass');
				KeyCount = 0;     
				down++
				$('.all_popular_movies_grid').find('.thumbnail_wrapper').removeClass('active');
				$(".universal_wrapper .all_popular_movies_grid").css({ marginLeft: '0px'}); 
	 			console.log('down');

	 			var moveup = $(".moveup");

        var gridHeight = parseInt($(".universal_wrapper").css("height").replace(/[^-\d\.]/g, ''),10); //grid height with 20px padding
        var gridHeightBottom = parseInt($(".universal_wrapper").css("margin-bottom").replace(/[^-\d\.]/g, ''),10); //grid margin bottom
        var gridHeight2 = gridHeight + gridHeightBottom;
        var x2 =- gridHeight2;//convert negative to postive
         moveup.css({ marginTop: '+=' + (x2)});  

        var all = document.getElementsByClassName('all_popular_movies_wrapper');
                
	 			for ( var i = 0; i < all.length; i++ ){
  					 if ( down === i ){
                      
               $(".all_popular_movies").removeClass('showBK');
  					   $(".all_popular_movies").eq(i).addClass('showBK');	
  					   $(".all_popular_movies.showBK").find(".single_file").eq(0).css({display: "block"});
               $(".universal_wrapper.activeUinversal").removeClass("activeUinversal");
  					   $(".all_popular_movies_wrapper").eq(i).find('.universal_wrapper').addClass("activeUinversal");  
	 					   //add active Class to the thumbnail
	 					   $('.all_popular_movies_grid').eq(i).find('.thumbnail_wrapper').eq(0).addClass('active');
					};
				};
        //If scroll reached end
        if (down >= 4) {                   
            down = 3; 

        var moveup = $(".moveup");

        var gridHeight = parseInt($(".universal_wrapper").css("height").replace(/[^-\d\.]/g, ''),10); //grid height with 20px padding
        var gridHeightBottom = parseInt($(".universal_wrapper").css("margin-bottom").replace(/[^-\d\.]/g, ''),10); //grid margin bottom
        var gridHeight2 = gridHeight + gridHeightBottom;
        var x2 =- gridHeight2;//convert negative to postive
         moveup.css({ marginTop: x2 * 3});  

            //add active Class to the thumbnail
            $('.all_popular_movies_grid').eq(3).find('.thumbnail_wrapper').eq(0).addClass('active');

          
                 $('.all_popular_movies_grid').eq(3).addClass('animateClass');
            
                             
        }
	 		},
	 		goUP : function(e) {
        $('.all_popular_movies_grid').eq(0).removeClass('animateClass');
	 			console.log('up');
        down--
	 			KeyCount = 0;
	 			$('.all_popular_movies_grid').find('.thumbnail_wrapper').removeClass('active');
	 			$(".universal_wrapper .all_popular_movies_grid").css({ marginLeft: '0px'}); 
	 			console.log('down');



        var moveup = $(".moveup");

        var gridHeight = parseInt($(".universal_wrapper").css("height").replace(/[^-\d\.]/g, ''),10); //grid height with 20px padding
        var gridHeightBottom = parseInt($(".universal_wrapper").css("margin-bottom").replace(/[^-\d\.]/g, ''),10); //grid margin bottom
        var gridHeight2 = gridHeight + gridHeightBottom;
        var x2 = gridHeight2;//convert negative to postive
         moveup.css({ marginTop: '+=' + (x2)});  

        var all = document.getElementsByClassName('all_popular_movies_wrapper');
	 				
        for ( var i = 0; i < all.length; i++ ){
  					 if ( down === i ){ 

                //Add ShowBK Class to active SlideShow
                $(".all_popular_movies").removeClass('showBK');
  					    $(".all_popular_movies").eq(i).addClass('showBK');
                $(".all_popular_movies.showBK").find(".single_file").eq(0).css({display: "block"});
                $(".universal_wrapper.activeUinversal").removeClass("activeUinversal");
  					    $(".all_popular_movies_wrapper").eq(i).find('.universal_wrapper').addClass("activeUinversal");  

	 					    //add active Class to the thumbnail
	 					    $('.all_popular_movies_grid').eq(i).find('.thumbnail_wrapper').eq(0).addClass('active');
					};
				};

        //If scroll reached end
        if (down <= 0) {                 
           
            moveup.css({ marginTop: '0px'});
            //add active Class to the thumbnail
            $('.all_popular_movies_grid').eq(0).find('.thumbnail_wrapper').eq(0).addClass('active');
                  if (down < 0) {
                  down = 0; 
                 $('.all_popular_movies_grid').eq(0).addClass('animateClass');
                  }
        }


			},
			goLEFT : function(e) {
        $('.universal_wrapper.activeUinversal .thumbnail_wrapper').eq(0).removeClass('my_endofScroll');

        
				if(!KeyCount <= 0) {
					KeyCount-- 
					console.log ("KeyCount--", KeyCount);
          
				}	

        removeActive();
        if (countLeft <= 3) {
        	 countLeft++
        }
               
        console.log("countLeft on left button", countLeft);
        StartScrolling--
        console.log("StartScrolling Left in", StartScrolling)
                
			  for ( var i = 0; i < elems.length; i++ ){
  					if ( KeyCount === i ){
                $(".universal_wrapper.activeUinversal .thumbnail_wrapper").eq(i).addClass("active");
                $(".single_file").css({display: "none"});
                $(".all_popular_movies.showBK").find(".single_file").eq(i).css({display: "block"});

                if ( StartScrolling <= 0 ) {    
                   StartScrolling = 0;
                   console.log("stay", StartScrolling);

                          var nspacing = parseInt($(".thumbnail_wrapper").css("margin-right").replace(/[^-\d\.]/g, ''),10);
                          var thumbnail = parseInt($(".thumbnail_wrapper").outerWidth(),10);

                          var newWidth = (((thumbnail + nspacing)/ document.documentElement.clientWidth) *100); // convert px to vw
                          var n = parseInt($(".universal_wrapper.activeUinversal .all_popular_movies_grid").css("margin-left").replace(/[^-\d\.]/g, ''), 10);//Get value and strip 'px'
                          var x =- n;//convert negative to postive
                          var nwidth = ((x / document.documentElement.clientWidth) *100);
                          var finalvalue = ((nwidth - newWidth) * -1); // convert positive to negative

                          $(".universal_wrapper.activeUinversal .all_popular_movies_grid").css({ marginLeft: (finalvalue) + 'vw' });
          
                }

                  if (KeyCount <= 0){
                    KeyCount = 0;
                    $(".universal_wrapper.activeUinversal .thumbnail_wrapper").eq(0).removeClass("active").addClass("active");

                  } 

                 if (KeyCount == 0) {
                 	$(".universal_wrapper.activeUinversal .all_popular_movies_grid").css({ marginLeft: '0px'});
             
                 	countLeft = 2;



                  
                 }
               
                if (KeyCount < 3) {
                 	countLeft--;
                 }
  			    }
			  };
	 	 }
	 }
  };
export default block; 
document.addEventListener('keydown', block.methods.checkKey);


</script>