<template>
	<div class="single_file">
		 <div class="slider">
			<div v-for="(item, index) in slide.slider" :class="['slide' + (index+1)]" v-bind:style="{ 'background':  'linear-gradient(to right, rgb(0, 18, 36) 25%, transparent), linear-gradient(to top, rgb(0, 0, 0) 20%, transparent), url('+slide.slider[index]+')' }"></div>
		</div>
		<div class="movie_info">
		    <!--<div v-bind:style="{ 'background':  'url('+slide.slider[0]+')' }"></div>-->
			<h1 class="title">{{slide.title}}</h1>
			<p class="year">{{slide.year}} | </p>
			<p class="runningtime">{{slide.runningtime}} minutes | </p>
			<p class="rating">{{slide.rating}}</p>
			<p class="synopsis">{{slide.synopsis}} <i class="fa fa-circle fa-lg"></i> <i class="fa fa-circle fa-lg"> </i> <i class="fa fa-circle fa-lg"></i></p>
		</div>
	</div>

</template>

<script>

  export default {
  	name : 'show',
  	props: ['slide'],
    components: {

    }
  };

</script>

<style>
</style>