<template>
<div>

<div class="view">

<div class="moveup">

<videoRow1 v-bind:items="items"></videoRow1>

<videoRow2 v-bind:items2="items2"></videoRow2>

<videoRow3 v-bind:items3="items3"></videoRow3>

<videoRow4 v-bind:items4="items4"></videoRow4>
</div>
</div>
</div>
</template>


<script>
import videoRow1 from './components/slider.vue'
import videoRow2 from './components/slider2.vue'
import videoRow3 from './components/slider3.vue'
import videoRow4 from './components/slider4.vue'

export default {
  name : "Main_Component",
  components : {
     videoRow1,
     videoRow2,
     videoRow3,
     videoRow4
     


  },
   data: function() {
        return {
            items: [],
            items2: [],
            items3: [],
            items4: []

        };
    },
  created: function () {
        var self = this;
        //paramAttributes: ['size', 'message'], An array of attribute names to be set on the VM as initial data.
        // Assign handlers immediately after making the request,
        // and remember the jqxhr object for this request
        $.getJSON( "src/data.json", function(data) {
        console.log( "success" );
         })
        .done(function(data) {
          console.log( "second success" );
          self.items = data[0].trending;
          self.items2 = data[0].mustwatchmovies;
          self.items3 = data[0].newandreturning;
          self.items4 = data[0].superstacks;  
        })
        .fail(function() {
          console.log( "error" );
        })
        .always(function() {
          console.log( "complete");
        });

       //Initial 
       var yposition = 50;
       //add active Class to the thumbnail
       $('.all_popular_movies_grid .thumbnail_wrapper').eq(0).addClass('active');
       $('.universal_wrapper').eq(0).addClass('activeUinversal');
       //Position the universal Wrapper 2
       $(".single_file").css("display", "none");
       $(".single_file").eq(0).css({display: "block"});
       $(".all_popular_movies").eq(0).addClass('showBK');     
},

}
</script>


<style>


/**In relation to methods **/

.all_popular_movies {

  display: none;
}

.all_popular_movies.showBK {

display: block;
position: fixed;
z-index: 1;
}
.activeUinversal .grid_title {
  padding: 0px;
    padding-left: 150px;

}

.activeUinversal.universal_wrapper {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}



.activeUinversal.universal_wrapper .active {
    
    transform: scale(1.2);
    border: rgba(0, 165, 225, 0.5) solid 1px;
    transition: all 0.35s ease-in;

}
/**In relation to methods ends here**/

.universal_wrapper {
   
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
    margin-bottom: 1vw;
    transition: all 0.35s ease-in;
    position: relative;
    z-index: 2;

}

.view {
    top: 55%;
    overflow: hidden;
    position: absolute;
    height: 50%;

}

.moveup {

   transition: all 0.35s ease-in; 
}
.all_popular_movies {
    position: fixed;
    width: 100%;
    top: 0px;
}

.thumbnail_wrapper {
    display: inline-block;
    width: 18vw;
    height: 10vw;
    margin-right: 2.497398543184183vw;
    overflow: hidden;
    transition: all 0.35s ease-in;
    border: #303030 solid 1px;
}

h1.grid_title {
    
    color: #fff;
    padding: 0px;
    font-size: 26px;
    color: #fff;
    padding-left: 150px;
    margin: 0px 0px 5px 0px;

}

.all_popular_movies_grid {
    width: 10000px;
    font-variant: initial;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.35s ease-in;
    margin-left: 90px;
    min-height: 12vw;
    margin-left: 0px;
    padding-left: 150px;
    padding-top: 20px;

}
.thumbnail_wrapper img {
    width: 100%


}

</style>

